<body class="pagebody">
  
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          
        </div>
        <div class="carousel-inner">
          <div  class="carousel-item active">
            <svg id="bd-placeholder-img1" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>
            <div  class="container">
              <div  class="carousel-caption text-start">
                <h1>Amazing Dashboard</h1>
                <p>You will love it.</p>
                <p><a class="btn btn-lg btn-primary" routerLink="/signup">Sign up today</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg id="bd-placeholder-img2" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>
            <div class="container">
              <div class="carousel-caption">
                <h1>User friendly website</h1>
                <p>work softnessly.</p>
                <p><a class="btn btn-lg btn-primary" routerLink="/login">Log in</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg id="bd-placeholder-img3" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>
            <div class="container">
              <div class="carousel-caption text-end">
                <h1>Encrypted data</h1>
                <p>Only you can see this.</p>
                
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
    
     
    
      <div class="container marketing">
        <div class="row">
          <div class="col-lg-4">
            <svg id="round-placeholder-img1" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false" routerLink="/login"><title>Add Task Image</title></svg>
            <h2 class="fw-normal">Add Task</h2>
            <p>You can add task easily and change it whenever you want.</p>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <svg id="round-placeholder-img2" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"routerLink="/login"><title>Archive Task Image</title></svg>
            <h2 class="fw-normal">Archive Task</h2>
            <p>You can archive your task. Hide unwanted task anytime.</p>
           
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <svg id="round-placeholder-img3" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"routerLink="/login"><title>Categorise Task Image</title></svg>
            <h2 class="fw-normal">Categorise Task</h2>
            <p>You can categorise task by priority. If there is important task then mark it only.</p>
      
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </main>
</body>
    